@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.properties .simplebar-track.simplebar-horizontal {
	height: units.rem(20);
	background-color: var(--steam);

	border-radius: units.rem(1000);
}