@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.about-sec .info-numbers {
	@include adaptive-value.adaptive-value-rem(gap, 15, 32);

	@media (max-width: units.em(384)) {
		display: flex;
		flex-direction: column;
	}
}

.main--home .about-sec .info-numbers {
	display: none;
}