@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.models-table__row {
	display: grid;
	grid-template-columns: repeat(13, 1fr);
	min-width: units.rem(1400);
}