@use '../../variables/general';
@use '../../variables/grid';
@use '../../mixins/units';
@use '../../mixins/adaptive-value';

.get-offer .form__body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include adaptive-value.adaptive-value-rem(column-gap, 20, 100);
	@include adaptive-value.adaptive-value-rem(row-gap, 20, grid.$gap);
	@include adaptive-value.adaptive-value-rem(margin-bottom, 20, grid.$gap);

	@media (max-width: units.rem(768)) {
		display: flex;
		flex-direction: column;
	}
}
