@use "../variables/general";
@use "../variables/grid";
@use "../mixins/units";
@use "../mixins/adaptive-value";

.footer__block {
	@media ( max-width: units.rem(576) ) {
		flex-wrap: wrap;
	}
	
	&:first-child {
		gap: units.rem(grid.$gap);

		@media (max-width: units.rem(768)) {
			grid-column: span 8;
			flex-direction: row;
		}
	}

	&:nth-child(2) {
		align-items: center;

		@media (max-width: units.rem(1104)) {
			align-items: flex-start;
		}

		@media (max-width: units.rem(768)) {
			grid-column: span 8;
		}
	}

	&:nth-child(3) {
		align-items: center;

		@media (max-width: units.rem(1104)) {
			grid-row-start: 2;
			align-items: flex-start;
		}

		@media (max-width: units.rem(768)) {
			grid-column: span 5;
			grid-row-start: unset;
		}
	}

	&:last-child {
		align-items: flex-end;

		@media (max-width: units.rem(1104)) {
			grid-row-start: 2;
			align-items: flex-start;
		}

		@media (max-width: units.rem(768)) {
			grid-column: span 3;
			grid-row-start: unset;
			align-items: flex-end;
		}

		@media ( max-width: units.rem(576) ) {
			align-items: flex-start;
		}
	}
}