@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

textarea {
	width: 100%;
	min-height: units.rem(100);
	height: units.rem(52);

	padding: units.rem(15) units.rem(15) units.rem(15) 0;

	resize: vertical;

	font-family: var(--font-one);
	@include adaptive-value.adaptive-value-rem(font-size, 16, 20);
	line-height: 100%;

	border: none;
	border-bottom: units.rem(1) solid var(--text-dark);

	&::placeholder {
		color: var(--amethyst-haze);
	}
}
