@use "../../../variables/general";
@use "../../../variables/grid";
@use "../../../mixins/units";
@use "../../../mixins/adaptive-value";

.basics-philosophy__item {
	grid-column: span 6;

	gap: units.rem(20);

	align-items: center;

	max-width: 100%;

	@include adaptive-value.adaptive-value-rem(padding, 20, 25);

	background-color: var(--secondary);
	color: var(--text-light);

	border-radius: units.rem(general.$border-radius);

	line-height: 1.2;
	text-align: center;
}