@use "../../variables/general";
@use "../../variables/grid";
@use "../../mixins/units";
@use "../../mixins/adaptive-value";

.link-catalog {
	gap: units.rem(8);
	line-height: 1.2;

	transition: color .3s ease;
}

.footer .link-catalog {
	@media (any-hover: hover) {
		&:hover {
			color: var(--accent);
		}
	}

	&:focus-visible {
		outline-width: units.rem(general.$outline-width);
		outline-style: dashed;
		outline-color: var(--accent);
		outline-offset: units.rem(general.$outline-offset);
	}
}