@use "../../../variables/general";
@use "../../../variables/grid";
@use "../../../mixins/units";
@use "../../../mixins/adaptive-value";

.properties .table__models .simplebar-scrollbar {
	background-color: #afafaf;
	opacity: 1;

	border-radius: units.rem(general.$border-radius);
}