@use '../../../variables/general';
@use '../../../variables/grid';
@use '../../../mixins/units';
@use '../../../mixins/adaptive-value';

.properties  .table__content {
	&:last-child {
		grid-column: span 2;

		@media ( max-width: units.rem(576) ) {
			grid-column: span 3;
		}
	}

	&:first-child {
		grid-column: span 10;

		@media ( max-width: units.rem(576) ) {
			grid-column: span 9;
		}
	}
}
